{%  extends 'layout.twig' %}

{% set article = request.attributes.get('article') %}
{% set comments = request.attributes.get('comments') %}
{% set messages = request.attributes.get('messages') %}

{% block title %}
    {{ article.title }}
{% endblock %}
{% block content %}
    {% for key, message in messages %}
        <div class="alert alert-{{ key }}">
            <span class="alert-text">{{ message[0] }}</span>
            <span class="alert-remove">x</span>
        </div>
    {% endfor %}
<section id="article-page">
    <div class="article-container">
        <article class="article">
            <div class="round">
                <time>
                    {{ article.created_at|date('d M Y') }}
                </time>
            </div>
            <h2>{{ article.title }}</h2>
            <div class="content">
                {{ article.content | striptags ('<h1><br><br />')| raw | nl2br }}
            </div>
        </article>
    </div>
</section>
<section>
    <div class="comment-response">
        <h3>* Commentaires *</h3>
        {% if user %}
            <form action="/comments" method="post" id="formComment">
                <input type="hidden" name="id_article" value="{{ article.id }}">
                <label for="content">Commentaire :</label>
                <textarea name="content" required></textarea>
                <input type="submit">
            </form>
        {% endif %}
    </div>
    {% for comment in comments %}
        {% include 'comments.twig' %}
    {% endfor %}
</section>
{% endblock %}
{% block script %}
    <script>
        $(function () {
            $(".btn-delete").click(function (e) {
                e.preventDefault();

                $.ajax({
                    url: '/delete-comment',
                    type: 'DELETE',
                    data: {
                        id: this.parentNode.getAttribute('data-id')
                    },
                    success: function (result) {
                        window.location.reload();
                    }
                });
            });

            var formEditOpened = false;

            formEdit = document.createElement('form');
            /*form.setAttribute('action', '/response-comment');
             form.setAttribute('method', 'post');*/
            formEdit.style.display = 'flex';
            formEdit.style.width = '100%';
            formEdit.style.alignItems = 'center';
            formEdit.style.marginTop = '8px';

            var textarea = document.createElement('textarea');
            textarea.style.width = '75%';
            textarea.style.height = '90px';
            textarea.setAttribute('name', 'content');

            var submit = document.createElement('input');
            submit.setAttribute('type', 'submit');
            submit.setAttribute('value', 'Envoyer');

            formEdit.appendChild(textarea);
            formEdit.appendChild(submit);
            formEdit.addEventListener('click', function (e) {
                e.stopPropagation();
            });

            var btnEdit = document.querySelectorAll(".btn-edit");
            var commentId;
            var newContent;
            var oldContent;

            btnEdit.forEach(function (btn) {
                btn.addEventListener('click', function (e) {
                    e.stopPropagation();
                    e.preventDefault();

                    commentId = this.parentNode.getAttribute('data-id');
                    oldContent = this.parentNode.childNodes[11].textContent;
                    formEdit.firstChild.textContent = oldContent;

                    $(formEdit).insertAfter(this.parentNode);
                    formEditOpened = true;
                });
            });

            formEdit.addEventListener('submit', function (e) {
                newContent = this.firstChild.value
                e.preventDefault();
                $.ajax({
                    url: '/edit-comment',
                    type: 'PUT',
                    data: {
                        content: newContent,
                        id: commentId
                    },
                    success: function (result) {
                        window.location.reload();
                    }
                });
            });

            document.body.addEventListener('click', function(e) {
                if(formEditOpened) {
                    formEdit.remove();
                    formEditOpened = false;
                }
            });
        });
    </script>
{% endblock %}