    <div class="article-container">
        {% for article in articles %}
            <article class="article">
                <div class="round">
                    <time>
                        {{ article.created_at|date('d M Y') }}
                    </time>
                </div>
                <div class="info">
            <span>
                <i class="fa fa-comment-o" aria-hidden="true"></i>
                <strong>{{ commentDAO.getCountComment(article.id).nbComments }}</strong>
                commentaires
            </span>
                </div>
                <hr>
                <h2><a href="/article/{{ article.id }}">{{ article.title }}</a></h2>
                <div class="content">
                    {{ article.content | striptags('<br>') | truncate(300, true, ' ...') | raw }}
                </div>
            </article>
        {% endfor %}
    </div>