    <div class="article-container">
        {% for article in articles %}
            <article class="article">
                <div class="round">
                    <time>
                        {{ article.created_at|date('d M Y') }}
                    </time>
                </div>
                <div class="info">
            <span>
                 <i class="fa fa-comment-o" aria-hidden="true"></i>
                {{ commentDAO.getCountComment(article.id).nbComments }}
                commentaires
            </span>
                </div>
                <hr>
                <h2>{{ article.title }}</h2>
                <div class="content">
                    {{ article.content|striptags('<h1>')|slice(0, 300)|raw}}
                </div>
                <div class="read-more_container">
                    <a class="read-more" href="/article/{{ article.id }}">Read More</a>
                </div>
            </article>
        {% endfor %}
    </div>