    <div class="article-container">
        {% for article in articles %}
            <article class="article">
                <div class="round">
                    <time>
                        {{ article.created_at|date('d M Y') }}
                    </time>
                </div>
                <div class="info">
            <span>
                 <i class="fa fa-comment-o" aria-hidden="true"></i>
                {{ commentDAO.getCountComment(article.id).nbComments }}
                commentaires
            </span>
                </div>

                <hr>

                <h2>{{ article.title }}</h2>
                <p>{{ article.content|slice(0, 200) }}</p>
                <a href="/article/{{ article.id }}">Read More</a>
            </article>
        {% endfor %}
    </div>