{%  extends 'layout.twig' %}

{% set article = request.attributes.get('article') %}
{% set comments = request.attributes.get('comments') %}
{% set messages = request.attributes.get('messages') %}

{% block title %}
    {{ article.title }}
{% endblock %}
{% block content %}
    {% for key, message in messages %}
        <div class="alert alert-{{ key }}">
            <span class="alert-text">{{ message[0] }}</span>
            <span class="alert-remove">x</span>
        </div>
    {% endfor %}
<section id="article-page">
    <div class="article-container">
        <article class="article">
            <div class="round">
                <time>
                    {{ article.created_at|date('d M Y') }}
                </time>
            </div>
            <h2>{{ article.title }}</h2>
            <div class="content">
                {{ article.content | raw | nl2br }}
            </div>
        </article>
    </div>
</section>
<section id="article-comment">
    <div class="comment-response">
        <h3>* Commentaires *</h3>
        {% if user %}
            <form action="/comments" method="post" id="formComment">
                <input type="hidden" name="id_article" value="{{ article.id }}">
                <label for="content">Commentaire :</label>
                <textarea name="content" required></textarea>
                <input type="submit">
            </form>
        {% endif %}
    </div>
    {% for comment in comments %}
        {% include 'comments.twig' %}
    {% endfor %}
</section>
{% endblock %}
