<div class="comments" style="margin-left: 25px">
    <div class="reply" data-id="{{ comment.id }}" data-article_id="{{ article.id }}">
        <h4>{{ comment.pseudo }}</h4>
        <i>posté le : {{ comment.created_at|date('d/m/Y à H:i', 'Europe/Paris') }}</i>
        {% if user and comment.depth < 3 %}
            <a href="#">Répondre</a>
        {% endif %}
        <p>{{ comment.content }}</p>
    </div>
    {% if comment.children %}
        {% for comment in comment.children %}
            {% include 'comments.twig' %}
        {% endfor %}
    {% endif %}
</div>