{% extends 'layout.twig' %}

{% set articles = request.attributes.get('articles') %}
{% set commentDAO = request.attributes.get('commentDAO') %}
{% set messages = request.attributes.get('messages') %}
{% set lastComments = request.attributes.get('lastComments') %}

{% block title %}
   {{ 'Jean Forteroche' }}
{% endblock %}

{% block content %}
    <section id="home-page">
        {% for key, message in messages %}
            <div class="alert alert-{{ key }}">
                <span class="alert-text">{{ message[0] }}</span>
                <span class="alert-remove">x</span>
            </div>
        {% endfor %}

        <h1>Bienvenue sur le blog de Jean Forteroche</h1>
        <p>Vous trouverez ici les derniers billets à propos de mon nouveau roman : <strong>Billet simple pour l'Alaska.</strong></p>
        <div class="bg-tiret">
            <div class="tiret"></div>
            <div class="tiret"></div>
        </div>

        {% embed 'articles.twig' %}{% endembed %}
        <p>
            <a href="/articles">Tout les articles</a>
        </p>
    </section>
    <section id="home-page-lastComment">
        <h2>Derniers commentaires publiés</h2>
        <div class="comment-container">
            {% for comment in lastComments %}
                <div class="comments">
                    <div class="reply">
                        <p>Posté par <strong>{{ comment.pseudo }}</strong></p>
                        <i> le : {{ comment.created_at|date('d/m/Y à H:i', 'Europe/Paris') }}</i>
                        <a href="" class="btn-reporting">signaler</a>
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section id="home-page-contact">
        <h3>Me contacter</h3>
        <hr>
        <form action="">
            <label for="">Votre email :</label>
            <input type="text">
            <label for="">Votre message :</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="Envoyer">
        </form>
    </section>
{% endblock %}

{% block script %}
    <script src="/public/js/home.js"></script>
{% endblock %}
