{% extends 'layout.twig' %}

{% set articles = request.attributes.get('articles') %}
{% set commentDAO = request.attributes.get('commentDAO') %}
{% set messagesAll = request.attributes.get('messages') %}
{% set lastComments = request.attributes.get('lastComments') %}

{% block title %}
   {{ 'Jean Forteroche' }}
{% endblock %}

{% block content %}
    <section id="home-page">
        {% for key, messages in messagesAll %}
            <div class="alert alert-{{ key }}">
                {% for message in messages %}
                    <span class="alert-text">{{ message }}</span>
                {% endfor %}
                <span class="alert-remove">x</span>
            </div>
        {% endfor %}

        <h1>Bienvenue sur le blog de Jean Forteroche</h1>
        <p>Vous trouverez ici les derniers billets à propos de mon nouveau roman : <strong>Billet simple pour l'Alaska.</strong></p>
        <div class="bg-tiret">
            <div class="tiret"></div>
            <div class="tiret"></div>
        </div>
        <p>Dernier article</p>
        {% include 'articles.twig' %}
        <p>
            <a href="/articles">Tout les articles</a>
        </p>
    </section>
    <section id="home-page-lastComment">
        <h2>Derniers commentaires publiés</h2>
        <div class="comment-container">
            {% for comment in lastComments %}
                <div class="comments">
                    <div class="reply" data-id="{{ comment.id }}">
                        <p>Posté par <strong>{{ comment.pseudo }}</strong></p>
                        <i> le : {{ comment.created_at|date('d/m/Y à H:i', 'Europe/Paris') }}</i>
                        <a href="" class="btn-reporting">signaler</a>
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <section id="a-propos">
        <h2>A propos</h2>
        <p>Qui suis-je ?
            Je me nomme <strong>Jean Forteroche</strong>, acteur et écrivain je travail en ce moment sur mon prochain roman : <strong>Un billet simple pour l'alaska</strong>.
            <br><br>
            Grâce à ce blog j'exposerai par billet le contenu de mon nouveau roman, n'hésitez pas à me suivre sur les réseaux sociaux et à vous <a href="/inscription">inscrire</a> sur le site
            pour échanger sur mes prochains posts.
        </p>
    </section>
    <section id="home-page-contact">
        <h3>Me contacter</h3>
        <hr>
        <form action="#">
            <label for="email">Votre email :</label>
            <input title="email" name="email" type="email">
            <label for="message">Votre message :</label>
            <textarea name="message" id="message" cols="30" rows="10"></textarea>
            <input type="submit" value="Envoyer">
        </form>
    </section>
{% endblock %}

{% block script %}
    <script src="/public/js/home.js"></script>
{% endblock %}
