{% extends 'layout.admin.twig' %}
{% block content %}
    {% set articles = request.attributes.get('articles') %}
    {% set nbArticles = request.attributes.get('nbArticles') %}
    {% set messages = request.attributes.get('messages') %}
    <!-- Left side column. contains the logo and sidebar -->
    <!-- Content Wrapper. Contains page content -->
        <!-- Content Header (Page header) -->
        {% for key, message in messages %}
            <div class="alert alert-{{ key }}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span class="alert-text">{{ message[0] }}</span>
            </div>
        {% endfor %}


        <!-- Main content -->
        <div class="box" id="crudArticle">
            <div class="box-header with-border">
                <h3 class="box-title">Articles</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <th class="hidden-xs">ID</th>
                        <th>Title</th>
                        <th class="hidden-xs">auteur</th>
                        <th class="hidden-xs">Ajouté le</th>
                        <th class="hidden-xs">Edité le</th>
                        <th>Publié</th>
                        <th>Editer</th>
                        <th>Supprimer</th>
                    </tr>
                    {% for article in articles %}
                        {% set published = article.published|replace({'1': 'Oui', '0': 'Non'}) %}
                        <tr>
                            <td class="hidden-xs">{{ article.id }}</td>
                            <td><a href="/article/{{ article.id }}">{{ article.title }}</a></td>
                            <td class="hidden-xs">{{ article.pseudo }}</td>
                            <td class="hidden-xs">
                                    {{ article.created_at }}
                            </td>
                            <td class="hidden-xs">
                                {% if article.updated_at == null %}
                                    {{ article.updated_at }}
                                {% else %}
                                    {{ article.updated_at | date('d M Y à H:i:s') }}
                                {% endif %}
                            </td>
                            <td>
                                {% if published == 'Oui' %}
                                    <span class="label label-success">{{ published }}</span>
                                {% else  %}
                                    <span class="label label-warning">{{ published }}</span>
                                {% endif %}
                            </td>
                            <td><a href="/admin/edition/article/{{ article.id }}"><button data-id={{ article.id }} class="btn btn-primary">Edition</button></a></td>
                            <td><a href="#"><button data-id="{{ article.id }}" class="btn btn-danger">Suppression</button></a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->

    <!-- Control Sidebar -->
    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 2.2.3 -->
    <script src="/resources/views/admin/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="/resources/views/admin/bootstrap/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/resources/views/admin/dist/js/app.min.js"></script>
    <script>
        $(function() {

         $('#crudArticle .btn-danger').click(function() {
                 $.ajax({
                     url: '/admin/articles',
                     type: 'DELETE',
                     data: {
                         id: this.getAttribute('data-id')
                     }
                 }).done(function () {
                     window.location.reload();
                 });
            })
        })
    </script>
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
         fixed layout. -->
    </body>
    </html>
{% endblock %}
