{% extends 'layout.admin.twig' %}
{% block content %}
    {% set article = request.attributes.get('article') %}
    {% set messages = request.attributes.get('messages') %}
        <!-- Content Header (Page header) -->
        {% for key, message in messages %}
            <div class="alert alert-{{ key }}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span class="alert-text">{{ message[0] }}</span>
            </div>
        {% endfor %}
        <section class="content-header">
            {#<ol class="breadcrumb">
              <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
              <li class="active">Here</li>
            </ol>#}
            <h2>Mise à jour de l'article</h2>
        </section>

        <!-- Main content -->
        <section class="content">
            <form action="/admin/articles" class="form-group">
                <label for="title">Titre de l'article :</label>
                <input type="text" name="title" class="form-control" value="{{ article.title }}" style="margin-bottom: 10px" required>
                <textarea id="article-content" name="content">{{ article.content }}</textarea>
                <button class="btn btn-success">Publier</button>
                <button class="btn btn-primary">Enregistrer</button>
            </form>
        </section>
        <!-- /.content-wrapper -->

        <!-- Main Footer -->
        {#<footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
        </footer>#}

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Create the tabs -->
            <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
            </ul>
            <!-- Tab panes -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    <!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 2.2.3 -->
    <script src="/resources/views/admin/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="/resources/views/admin/bootstrap/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/resources/views/admin/dist/js/app.min.js"></script>
    <script src="/public/js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',  // change this value according to your HTML
            plugin: 'a_tinymce_plugin',
            a_plugin_option: true,
            content_css : '/public/css/app.css',
            height : 280,
            a_configuration_option: 400
        });

       $(function() {
            $('form').submit(function (e) {
                e.preventDefault();
            });
            $('.content .btn-success').click(function (e) {
                e.preventDefault();

                var title = ($("form input[name='title']")[0].value);
                var content = tinyMCE.activeEditor.getContent();

                $.ajax({
                    url: '/admin/edition/article',
                    type: 'PUT',
                    data: {
                        content: content,
                        title: title,
                        id: {{ article.id }},
                        published: 1
                    }
                }).done(function (response) {
                    window.location.reload();
                });

            });

            $('.content .btn-primary').click(function (e) {
                e.preventDefault();
                var title = ($("form input[name='title']")[0].value);
                var content = tinyMCE.activeEditor.getContent();

                $.ajax({
                    url: '/admin/edition/article',
                    type: 'PUT',
                    data: {
                        content: content,
                        title: title,
                        id: {{ article.id }},
                        published: 0
                    }
                }).done(function () {
                    window.location.reload();
                });
            })
        })
    </script>
    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
         fixed layout. -->
    </body>
    </html>
{% endblock %}