{% extends 'layout.admin.twig' %}
{% block content %}
    {% set messagesAll = request.attributes.get('messages') %}
    {% set nbUser = request.attributes.get('nbUser') %}
    {% set nbArticle = request.attributes.get('nbArticle') %}
    {% set nbComment = request.attributes.get('nbComment') %}
    {% for key, messages in messagesAll %}
        <div class="alert alert-{{ key }}">
            {% for message in messages %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span class="alert-text">{{ message }}</span>
            {% endfor %}
        </div>
    {% endfor %}
    <section class="content-header">
        <h1>
            Administration
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ nbUser }}</h3>

                    <p>Utilisateurs inscrits</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="/admin/users" class="small-box-footer">
                    Plus d'infos <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- Your Page Content Here -->
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ nbArticle }}</h3>

                    <p>Article écrit</p>
                </div>
                <div class="icon">
                    <i class=" fa fa-edit"></i>
                </div>
                <a href="/admin/articles" class="small-box-footer">
                    Plus d'infos <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-purple">
                <div class="inner">
                    <h3>{{ nbComment }}</h3>

                    <p>Commentaires</p>
                </div>
                <div class="icon">
                    <i class=" fa fa-edit"></i>
                </div>
                <a href="/admin/comments" class="small-box-footer">
                    Plus d'infos <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>

    </section>
<aside class="control-sidebar control-sidebar-dark">

    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
        <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
        <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>

</aside>
<!-- /.control-sidebar -->
<!-- Add the sidebar's background. This div must be placed
     immediately after the control sidebar -->
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.3 -->
<script src="resources/views/admin/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="resources/views/admin/bootstrap/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="resources/views/admin/dist/js/app.min.js"></script>

{% endblock %}